@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.p1{
    text-decoration: overline;
}
.p2{
    text-align: center;
    
}
.conteiner{ 
    margin: 0 200px;
}
.obertka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    color: rgb(0, 0, 0);
    text-decoration: dashed;
    display: block;
    margin-right: 30px;
    font-size: 35px;
}
.link:last-child{
    margin-right: 0;
}
body{
    font-family: 'League Gothic', sans-serif;
}
.right_side{
    display: flex;
}
p{
    font-size: 35px;
} 
.papasha{
    display: flex;
    justify-content: center;
}
.obychnyy{
    margin-right: 150px;
}
.rebenok{
    text-align: center;
}
iframe{
    display: block;
    margin: 25px auto;
}
.audio{
    display: block;
    margin: 0 auto;
}
@media(max-width:1170px){
    .conteiner{ 
        margin: 0 100px;
    }
    }
    @media(max-width:980px){
        .link{
            font-size: 20px;
        }
        .logo{
            width: 150px;
        }
        .i1, .i2{
            width: 75px;
        }
        iframe{
            width: 100%;
        }
        .ford{
            font-size: 17px;
        }

        
}
    @media(max-width:670px){
        .conteiner{
            margin: 0 20px;
        }
    }
    @media(max-width:450px){
        .link{
            font-size: 10px;
        }
        .logo{
            width: 70px;
        }
        iframe{
            width: 350px;
            height: 196.875px;
        }
        .audio{
            width: 125px;
            height: 22.5px;
        }
        .obychnyy{
            margin-right: 62.5px;
        }

    }
